[submodule "src/backend/lib/clsocket"]
	path = src/backend/lib/clsocket
	url = https://github.com/DFHack/clsocket.git
[submodule "src/backend/lib/ctpl"]
	path = src/backend/lib/ctpl
	url = https://github.com/vit-vit/ctpl.git